* {
  box-sizing: border-box;
}

@font-face {
  font-family: "Regular";
  src: url("../src/static/fonts/CookieRun\ Regular.ttf") format("truetype");
}

@font-face {
  font-family: "Bold";
  src: url("../src/static/fonts/CookieRun\ Bold.ttf") format("truetype");
}

body {
  margin: 0;
  font-family: "Regular", -apple-system, BlinkMacSystemFont, "Segoe UI",
    "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans",
    "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
